# FastApi

In [1]:
# Here is first is to understand the  basic concept of the python especially the data types with Functions
# The first thing is to understand the data types in python
# The data types in python are as follows:
# 1. Integers  - int
# 2. Floats    - float
# 3. Strings   - str
# 4. Lists     - list
# 5. Tuples    - tuple
# 6. Dictionaries - dict
# 7. Sets      - set
# 8. Booleans  - bool
# 9. None      - NoneType
# 10. Complex  - complex
# 11. Bytes    - bytes

In [2]:
# Example of Integers
def add(a, b):
    return a + b
add(2, 3)

5

In [3]:
# Example of strings
def full_name(first_name, last_name):
    return first_name + ' ' + last_name
full_name('Muhamed', 'Babar')

'Muhamed Babar'

In [11]:
# Example of Lists
def add_itesm_to_list(list):
    return list
add_itesm_to_list(['item1', 'item2', 'item3'])

['item1', 'item2', 'item3']

In [12]:
# Example of Tuples
def add_itesm_to_tuple(tuple):
    return tuple
add_itesm_to_tuple(('item1', 'item2', 'item3'))

('item1', 'item2', 'item3')

In [13]:
# Example of Dictionaries
def add_itesm_to_dict(dict):
    return dict
add_itesm_to_dict({'key1': 'value1', 'key2': 'value2', 'key3': 'value3'})

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [14]:
# Example of Sets
def add_itesm_to_set(set):
    return set
add_itesm_to_set({'item1', 'item2', 'item3'})

{'item1', 'item2', 'item3'}

In [15]:
# Example of Booleans
def check_if_true(value):
    return value
check_if_true(True)

True

In [ ]:
# Example of None
def check_if_none(value):
    return value
check_if_none(None)

In [17]:
# Example of Complex
def check_if_complex(value):
    return value
check_if_complex(1+2j)

(1+2j)

In [18]:
# Example of Bytes
def check_if_bytes(value):
    return value
check_if_bytes(b'hello')

b'hello'

In [20]:
# if you want to check the type of the data type you can use the type() function
# Example
print(type(1)) # <class 'int'>
print(type(1.0)) # <class 'float'>
print(type('hello')) # <class 'str'>
print(type(['item1', 'item2', 'item3'])) # <class 'list'>
print(type(('item1', 'item2', 'item3'))) # <class 'tuple'>
print(type({'key1': 'value1', 'key2': 'value2', 'key3': 'value3'})) # <class 'dict'>
print(type({'item1', 'item2', 'item3'})) # <class 'set'>
print(type(True)) # <class 'bool'>
print(type(None)) # <class 'NoneType'>
print(type(1+2j)) # <class 'complex'>
print(type(b'hello')) # <class 'bytes'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'bool'>
<class 'NoneType'>
<class 'complex'>
<class 'bytes'>

In [22]:
# if we use hinting in the function then we can specify the type of the data type that the function should return or accept as an argument
# Example
def add(a: int, b: int) -> int: # Here we are specifying that the function should accept two arguments of type int and return the int
    return a + b
add(2, 3)

# if we pass the wrong data type then it will give the error
add('2', 3) # TypeError: can only concatenate str (not "int") to str

TypeError: can only concatenate str (not "int") to str

In [26]:
# string formattings
def full_name(first_name: str, last_name: str) -> str:
    return first_name + ' ' + last_name
full_name('Muhamed', 'Babar')


# if we pass the wrong data type then it will give the error
full_name('Muhamed', 2) # TypeError: can only concatenate str (not "int") to str

TypeError: can only concatenate str (not "int") to str

In [32]:
# list formattings
# def add_itesm_to_list(items: list) -> list:   # here items is name of the argument that is list (means varable name ) and list is the type of the argument and the return type is also list
    # return items
# add_itesm_to_list(['item1', 'item2', 'item3'])

# and we can pass type parameter in the list as well that is called type hinting or type annotation or type checking inside the list
def add_itesm_to_list(items: list[str]) -> list[str]:   # here items is name of the argument that is list (means varable name ) and list is the type of the argument and the return type is also list
    return items
add_itesm_to_list(['item1', 'item2', 'item3'])

# if we pass the wrong data type then it will not give the error because list homegenous data type( means it can accept any type of data type)
add_itesm_to_list(['item1', 'item2', 3])

['item1', 'item2', 3]